.sorting-vis {
  position: absolute;
  left: 100px;
  text-align: center;
}

.bar {
  background-color: orange;
  display: inline-block;
  width: 0.3vw;
  margin: 0 0.1vw;
}

.current {
  background-color: blue;
}
